{% extends "base.html" %}
{% load i18n %}
{% load publication_tags %}

{% block title %}{{ title.title }}{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <!-- Left Column: Cover and Quick Actions -->
        <div class="col-md-4 mb-4">
            {% include "titles/includes/cover_and_actions.html" %}
        </div>

        <!-- Right Column: Title Details -->
        <div class="col-md-8">
            <h1 class="mb-4">{{ title.title }}</h1>

            {% include "titles/includes/basic_info.html" %}
            {% include "titles/includes/authors.html" %}
            {% include "titles/includes/awards.html" %}
            {% include "titles/includes/reviews.html" %}
            {% include "titles/includes/discussions.html" %}
            {% include "titles/includes/publications.html" %}
        </div>
    </div>
</div>

{% include "titles/includes/list_modal.html" %}
{% include "titles/includes/review_modal.html" %}
{% endblock %}

{% block extra_js %}
{% include "titles/includes/title_js.html" %}
{% endblock %}